@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.item {
  @include tables-mobile;
  padding: 1rem 0 0 0;
  @include flexbox(column, 1rem);

  @include tablet {
    border-top: none;
    border-bottom: 0.0625rem solid $color-cloud;
    @include flexbox;
    align-items: center;
    padding: 1rem 2rem 2.25rem 2rem;

    @include desktop {
        padding: 1rem 2.5rem 2.25rem 2.5rem;
    }

    &:last-child {
        border-bottom: none;
        padding-bottom: 1rem;
    }
  }

  &__section {
    @include flexbox(row, 2.8125rem);
    padding: 0 1rem;

    @include tablet {
        gap: 0;
        padding: 0;
      }
  }

  &__subsection {
    @include flexbox(column, 1rem);

    @include tablet {
        @include flexbox;
        align-items: center;
    }
  }

  &__container {
    @include flexbox(column, 0.25rem);
  }

  &__title {
    @include h4-mobile;

    @include tablet {
        display: none;
    }
  }

  &__subcontainer {
    @include flexbox(row, 0.25rem);
  }

  &__subcontainer2 {
    @include flexbox(column, 0.25rem);
  }

  &__link {
    @include h3-mobile;
    @include textlink-default;
  }

  &__img {
    height: 1.25rem;
  }

  &__info {
    @include p2-mobile;
    max-width: 6.9375rem;
  }

  &__icons {
    @include flexbox;
    justify-content: space-between;
    padding: 0 1.5rem 0 1rem;
  }
}
