@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

// Global Classes
* {
  box-sizing: border-box;
}

html {
  font-size: 100%; // Default font-size 16px
}

body {
  margin: 0; // Removes white border of entire website
  font-family: $font-family; // Sets default font to Avenir or Sans-Serif
}
