@use "./variables" as *;

@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/TitilliumWeb-Regular.woff") format("woff"),
    url("../../assets/fonts/TitilliumWeb-Regular.woff2") format("woff2"),
    url("../../assets/fonts/TitilliumWeb-Regular.otf") format("opentype"),
    url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: $regular;
}

@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff"),
    url("../../assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/TitilliumWeb-SemiBold.otf") format("opentype"),
    url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: $semibold;
}