// Font Variables
$font-family: Titillium, sans-serif;
$regular: 400; // Regular
$semibold: 600; // Bold

// Primary Color Variables
$color-black: #13182C;
$color-indigo: #2E66E5;
$color-white: #FFFFFF;

// Secondary Color Variables
$color-slate: #5C667E;
$color-cloud: #BDC5D5;

// Background Color Variables
$color-graphite: #232940;
$color-lightgrey: #F7F8F9;

// Supporting Color Variables
$color-green: #158463;
$color-red: #C94515;