@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables" as *;

//delete body, using for testing
body {
    background-color: $color-lightgrey;
}

.section-divider {
    border-bottom: 1px solid $color-cloud;
    margin: 1.5rem 0 1rem 0;
}

.form {
    &__container {
        min-width: 20rem;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        background-color: $color-white;
        border-radius: .25rem;
        box-shadow: 0px 2px 5px 0px #13182C1A;
    }

    &__title {
        @include h1-mobile;
        // font-size: 1.75rem;
        // font-weight: 600;
        // line-height: 2.25rem;
        // color: $color-black;
        margin: 2rem 1.5rem 1.5rem 1.5rem;
        padding-top: 2rem;
    }
    &__section__title {
        @include h2-mobile;
        margin: 1rem 1.5rem 1.5rem 1.5rem;
    }

    &__questions {
        @include flexbox;
        // display: flex;
        flex-direction: column;
        margin: 1rem 1.5rem;
    }

    &__label {
        @include h3-mobile;
        margin-bottom: .25rem;
    }

    &__input {
        @include form-mobile-default;
        padding-left: 1rem;
        
        &:active {
            @include form-mobile-active;
        }

        &:invalid {
            @include form-field-error;
        }

    }
    &__button__container {
        background-color: rgba(247, 248, 249, 0.7);
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
    }

    &__button-cancel {
        @include h3-mobile;
        @include button-mobile-cancel-default;
        margin-right: 1rem;

        &:hover {
            @include button-tablet-cancel-hover;
        }
    }

    &__button-save {
        @include h3-mobile;
        @include button-mobile-default;
        margin-left:1rem;

        &:hover {
            @include button-tablet-delete-hover;
        }
    }
}
