@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.warehouse {
  margin: 0 1rem;
  @include flexbox(column, 1.5rem);
  box-shadow: 0 2px 5px rgba(19, 24, 44, 0.1);
  z-index: 1;
  border-radius: .1875rem;
  background-color: $color-lightgrey;

  @include tablet {
    margin: 0 auto;
  }

  @include desktop {
    margin: 0 auto;
    @include padding-desktop;
  }

  &__header {
    @include flexbox(column, 1rem);
    padding: 2rem 1rem 0 1rem;

    @include tablet {
      @include flexbox(row, 1rem);
      justify-content: space-between;
      padding: 1.5rem 2rem 0;
    }

    @include desktop {
      padding: 2rem 2.5rem 0;
    }
  }

  &__title {
    @include h1-mobile;

    @include tablet {
      @include h1-tablet
    }
  }

  &__actions {
    @include flexbox(column, 1rem);

    @include tablet {
      @include flexbox(row, 1rem);
    }
  }

  &__search {
    @include search;
    background: url("../../assets/icons/search-24px.svg") no-repeat right 0.75rem center;

    &::placeholder {
      @include p2-mobile;
    }

    @include tablet {
      width: 11rem;

      &::placeholder {
        @include p2-tablet;
      }
    }

    @include desktop {
      width: 17.125rem;
    }

    &:active {
      @include search-active;
    }
  }

  &__button {
    @include button-mobile-default;

    @include tablet {
      @include button-tablet-default;
      width: 11rem;
    }

    &:hover {
      @include button-tablet-hover;
    }
  }

  &__filter {
    display: none;

    @include tablet {
      display: grid;
      grid-template-columns: 1.2fr 1.2fr 1.4fr 1.5fr 0.6fr;
      align-items: center;
      grid-gap: 1rem;
      padding: 0 2rem;
      background-color: $color-lightgrey;
      height: 2.5rem;
    }

    @include desktop {
      padding: 0 2.5rem;
      grid-template-columns: 1.1fr 1.5fr 1.1fr 1.6fr 0.5fr;
    }

  }

  &__sorts {
    display: none;

    @include tablet {
      display: block;
      @include flexbox(row, .25rem);
      align-items: center;
    }
  }

  &__subtitle {
    display: none;

    @include tablet {
      display: block;
      @include h4-mobile;

    }
  }
}
