@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.warehouse {
    margin: 0 2.25rem;
    @include padding-mobile;
    @include flexbox(column, 1rem);
    // position: relative;

    &__header {
        @include flexbox(column, 1rem);
    }

    &__title {
        @include h1-mobile;
    }

    &__search {
        @include search;
    }

    &__button {
        @include button-mobile-default;
    }

    &__filter {
       
        display: none;

        @include tablet{
            display: block;
            @include flexbox(row);
            justify-content: space-between;
            background-color: $color-lightgrey;
            height: 2.5rem;
            padding: 0 36px;    
        } 
    }

    &__sorts {

        display: none;

        @include tablet {
            display: block;
            @include flexbox(row, .25rem);
        align-items: center;
        }
    }

    &__subtitle {
        display: none;

        @include tablet {
            display: block;
            @include h4-mobile;
        } 
    }
}