@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.footer {
  position: relative;
  height: 95vh;
  background-color: $color-lightgrey;
  //   width: 100%;

  &__copyright {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    color: $color-slate;
  }
}
